imag{

}
h1{
    text-align: center;
    
}
hr {
    width:90%;
    height:3px;
    background-color: brown;
}
#left{
    float:left;
    border:2px solid black;
    height:1000px;
    width:10%;
    line-height: 2.6;
    overflow:hidden;
    background-color: #fce4e8;
}
#right{
    border:3px dashed black;
    height:1000px;
    width:80%;
    clear:both;
    clear:right;
    margin-left:300px;
    position:static;
    overflow: scroll;
    padding:20px;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 3px;
    font-family:monospace;
    background-color: white;
 
    
}
h3{
    font-family: fantasy;
}

   
.footer{
    text-align: center;
    padding:20px;
    font-size: 25px;
    margin-top: 10px;
    border:2px solid black;
    word-spacing:10px;
    background-color:darkgrey;
}
#container{
    position:relative;
    background-color: #fdf1e1;
}
h2{
    text-align: center;
    font-size: 25px
}
body{
    
}
a:hover{
    opacity: 0.5;
}
